#lebron-area {
  height: 100%;
  width: 30%;
  background-color: red;
  float: left;
  background-image: url(../img/lebron-background.png);
  background-size: cover;
}

#menu-area {
  margin-top:-10px;
  height: 100%;
  width: 70%;
  background-color: white;
  float: right;
}

.menu-box {
    padding-top:20px;
    width: 50%;
    height: 50%;
    text-align:center;
}

#top-left {
  float: left;
  background-color: #FDBB30;
}
#top-left:hover {
  opacity: 0.5;
}

#top-right {
  float: right;
  background-color: #254E70;
}
#top-right:hover {
  opacity: 0.5;
}

#bottom-left {
  float: left;
  background-color: #4BA3C3;
}
#bottom-left:hover {
  opacity: 0.5;
}

#bottom-right {
  float: right;
  background-color: #BA324F;
}
#bottom-right:hover {
  opacity: 0.5;
}


.menu-title {
  text-align: center;
  color: #002D62;
  font-size: 40px;
}
