#lebron-area {
  height: 100%;
  width: 30%;
  background-color: red;
  float: left;
  background-image: url(../img/lebron-background.png);
  background-size: cover;
}

#menu-area {
  height: 100%;
  width: 70%;
  background-color: white;
  float: right;
}

.menu-box {
    padding-top:20px;
    width: 50%;
    height: 50%;
    text-align:center;
}

#top-left {
  float: left;
  background-color: #FDBB30;
}
#top-left:hover {
  opacity: 0.5;
}

#top-right {
  float: right;
  background-color: #254E70;
}
#top-right:hover {
  opacity: 0.5;
}

#bottom-left {
  float: left;
  background-color: #4BA3C3;
}
#bottom-left:hover {
  opacity: 0.5;
}

#bottom-right {
  float: right;
  background-color: #BA324F;
}
#bottom-right:hover {
  opacity: 0.5;
}


.menu-title {
  text-align: center;
  color: #002D62;
  font-size: 40px;
}

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "No";
    padding-left: 10px;
    background-color: #EEEEEE; color: #000000;
}
.onoffswitch-inner:after {
    content: "Yes";
    padding-right: 10px;
    background-color: #34A7C1; color: #000000;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
