<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>

<div id="page">
	<div class="container">
		<div class="title">
			<h2>Rewards</h2>
			<p>Place holder</p>
		</div>
		<div class="boxA">
			<div class="box margin-btm">
				<img src="images/backpack.jpg" width="320"  alt="" />
				<div class="details">
					<p>Backpack</p>
				</div>
				<a class="button">$50</a>
			</div>
			<div class="box margin-btm">
				<img src="images/football.jpg" width="320" alt="" />
				<div class="details">
					<p>Football</p>
				</div>
				<a class="button">$100</a>
			</div>
			<div class="box">
				<img src="images/ipad.jpg" width="320" alt="" />
				<div class="details">
					<p>iPad</p>
				</div>
				<a class="button">$150</a>
			</div>

		</div>
		<div class="boxB">
			<div class="box">
				<img src="images/macbook.png" width="320" alt="" />
				<div class="details">
					<p>MacBook</p>
				</div>
				<a class="button">$350</a>
			</div>
			<div class="box">
				<img src="images/iwatch.jpg" width="320"  alt="" />
				<div class="details">
					<p>iWatch</p>
				</div>
				<a class="button">$250</a>
			</div>



		</div>

	</div>
</div>

</body>
</html>
